.skills {
    position: relative;
    max-width: 100vw;
    color: var(--text-primary);
    padding-bottom: clamp(20px, 5vw, 60px);
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.skills h2 {
    font-size: clamp(1.5rem, 3vw, 2em);
    margin-bottom: 20px;
}

.skills img {
    display: block;
    width: clamp(30px, 5vw, 50px);
    height: clamp(30px, 5vw, 50px);
    margin: clamp(5px, 1vw, 10px);
    color: var(--text-primary);
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.skills ul {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
    will-change: transform;
}

.skills ul li {
    flex: 0 0 auto;
    margin-right: clamp(20px, 5vw, 50px);
    transition: transform 0.3s ease;
}

.skills ul:hover {
    animation-play-state: paused;
}

.skills ul li:hover {
    transform: scale(1.2);
}

.skills li {
    position: relative;
}

.skills li::after {
    content: attr(data-name);
    position: absolute;
    bottom: clamp(-35px, -3vw, -25px);
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    
    background: var(--surface-card);
    color: var(--text-primary);
    font-size: clamp(10px, 1.5vw, 12px);
    padding: 4px 8px;
    border-radius: 6px;

    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.skills li:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.skills::before,
.skills::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.skills::before {
  left: 0;
  background: linear-gradient(
    to right,
    var(--surface-bg),
    transparent
  );
}

.skills::after {
  right: 0;
  background: linear-gradient(
    to left,
    var(--surface-bg),
    transparent
  );
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}